<section class="mt-5" id="header-links">
    <div class="justify-content-center text-center">
        <div class="container">
            <div class="row">
                <div class="col" id="Home">
                    <a class="" href="index">Home</a>
                </div>
                <div class="col" id="About">
                    <a href="#">About</a>
                </div>
                <div class="col" id="Projects">
                    <a href="#">Projects</a>
                </div>
                <div class="col" id="Contact">
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>