---
--- 
    
body
    padding: 0
    margin: 0
    background-color: #17181a
    color: white
    
.row
    height: 52rem
    background-color: rgba(36, 37, 42, 1)

.col

    &#projects
        border-left: 2px solid black
        border-right: 2px solid black

    &:hover
        background-color: orange