<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portfolio</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>

	<div class="container-fluid text-center">
		<div class="my-3" id="myname">
			<h1>Pontus Granath</h1>
		</div>
		<div>
			<div class="row">
				<div class="col" id="about">
					<a href="#">
						<button>
							<p>About</p>
						</button>
					</a>
				</div>
				<div class="col" id="projects">
					<a href="#">
						<button>
							<p>Projects</p>
						</button>
					</a>
				</div>
				<div class="col" id="contact">
					<a href="#">
						<button>
							<p>Contact</p>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<script src="https://kit.fontawesome.com/ee2129c6a0.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="scripts/main.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
</body>
</html>